<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM APP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="main-container">
        <div class="title"><h1>GYM Rep Counter</h1></div>
        <div class="main-content">
            <p>Exercise Rep Counter</p>
            <div class="buttons">
                <button class="add-button">+</button>
                <p id="count-display">0</p>
                <button class="subtract-button">-</button>
            </div>
        </div>
        <div class="reset-button">
            <button>Reset</button>
        </div>
    </div>

    <script src="/script.js"></script>
</body>
</html>